.home {
  text-align: center;
  margin-top: 0;
  padding: 5rem 1rem;
  min-height: 100vh;
  background-image: url('../assets/hero-banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .home h1, .home p {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

}
